{% extends 'base.html' %}
{% load static %}
<body>

    {% block title %}Sugestões{% endblock %}
    {% block main %}
    
    <main>
        <div class="container">
            <div class="row">
                <div class=" col-lg-10 mx-auto my-5">
                    <div class="card border-0 shadow rounded-3 my-5">
                        <h2 class="mx-5 mt-4">Deixe sua Sugestão</h2>
                        <form class="mb-4 mx-5" method="POST" action="">
                            <!-- Campo Nome -->
                            <div class="form-group my-2">
                                <label for="nome">Nome:</label>
                                <input type="text" class="form-control" id="nome" placeholder="Digite seu nome" name="nome">
                            </div>

                            <!-- Campo E-mail -->
                            <div class="form-group my-2">
                                <label for="email">E-mail:</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail">
                            </div>

                            <!-- Campo Telefone -->
                            <div class="form-group my-2">
                                <label for="telefone">Telefone:</label>
                                <input type="tel" class="form-control" id="telefone" name="telefone" placeholder="Digite seu telefone">
                            </div>

                            <!-- Campo Sugestão -->
                            <div class="form-group my-2">
                                <label for="sugestao">Deixe sua Sugestão:</label>
                                <textarea class="form-control" id="sugestao" name="sugestao" rows="3"
                                    placeholder="Digite sua sugestão"></textarea>
                            </div>

                            <!-- Botão Enviar -->
                            <div class="text-center">
                                <button style="margin: auto;" type="submit" class="btn btn-custom my-2">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </main>
    {% endblock %}

</body>

</html>