{% load static %}

<!DOCTYPE html>
<html lang="pt">

<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="{% static 'img/image1.png' %}" type="image/x-icon">
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,700&family=Poppins&family=Pridi&family=Raleway:wght@400;600&display=swap"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>PragaZero</title>
</head>

<body>
    <header class="navbar navbar-expand-lg">
        <div class="d-flex justify-content-between align-items-center w-100">
            <div class="dropend">
                <button type="button" class="btn dropdown mx-2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'img/image.png' %}" alt="Menu">
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="{% url 'agro:index' %}">Início</a></li>
                    <li><a class="dropdown-item" href="{% url 'agro:lagartas' %}">Lagartas na agricultura</a></li>
                    <li><a class="dropdown-item" href="{% url 'agro:agrotoxico' %}">Uso de agrotóxicos</a></li>
                    <li><a class="dropdown-item" href="{% url 'agro:gafanhotos' %}">Danos causados pelos gafanhotos</a></li>
                    <li><a class="dropdown-item" href="{% url 'agro:sobre_nos' %}">Quem somos?</a></li>
                    <li><a class="dropdown-item" href="{% url 'agro:formulario' %}">Fale conosco</a></li>
                    <li><a class="dropdown-item" href="{% url 'agro:listar_sugestoes' %}">Sugestões dadas</a></li>
                </ul>
            </div>
            <a class="link-nav header-logo" href="{% url 'agro:index' %}">
                <img src="{% static 'img/image1.png' %}" alt="Logotipo">
            </a>
            <a class="link-nav header-name" href="{% url 'agro:sobre_nos' %}">
                <h2 class="pragazero">PragaZero</h2>
            </a>
            
            <form method="GET" action="{% url 'agro:search' %}" class="search-bar-form">
                <input type="text" name="query" placeholder="Pesquisar...">
                <button type="submit">Pesquisa</button>
            </form>
        </div>
    </header>
    <main>
        <section>
            <div class="d-flex justify-content-around align-items-center mb-5">
                <div class="text" style="margin-bottom: 150px;">
                    <h1>Interessado(a) em saber como combater efetivamente as pragas na agricultura?</h1>
                    <p>As pragas de importância agrícola são as espécies que podem comprometer a produção de plantas
                        cultivadas.
                        Confira as informações abaixo para ficar por dentro do assunto!</p>
                </div>
                <div>
                    <img style="margin-top: 80px;" src="{% static 'img/image3.png' %}" alt="Informações sobre pragas">
                </div>
            </div>
        </section>

        <div class="carrosel">
            <h3 class="tx-carrosel h3-carrosel">Aqui temos uma lista com alguns tópicos importantes sobre as pragas e
                como evitá-las:</h3>

            <div id="carouselExample" class="carousel slide allcarrosel" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-flex itens-carrosel">
                            <a href="{% url 'agro:lagartas' %}" class="card-carrosel">
                                <img src="{% static 'img/image4.png' %}" alt="Lagartas">
                                <p class="tx-carrosel">Você conhece os impactos que as lagartas podem causar nas
                                    plantações? Confira já!</p>
                            </a>
                            <a href="{% url 'agro:agrotoxico' %}" class="card-carrosel">
                                <img src="{% static 'img/image5.png' %}" alt="Agrotóxicos">
                                <p class="tx-carrosel">Conheça as vantagens e desvantagens do uso de agrotóxicos nas
                                    plantações!</p>
                            </a>
                            <a href="{% url 'agro:gafanhotos' %}" class="card-carrosel">
                                <img src="{% static 'img/image6.png' %}" alt="Gafanhotos">
                                <p class="tx-carrosel">Saiba mais sobre os danos causados pelos gafanhotos nas
                                    plantações e como evitá-los!</p>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex itens-carrosel">
                            <a href="{% url 'agro:agrotoxico' %}" class="card-carrosel">
                                <img src="{% static 'img/image5.png' %}" alt="Agrotóxicos">
                                <p class="tx-carrosel">Conheça as vantagens e desvantagens do uso de agrotóxicos nas
                                    plantações!</p>
                            </a>
                            <a href="{% url 'agro:gafanhotos' %}" class="card-carrosel">
                                <img src="{% static 'img/image6.png' %}" alt="Gafanhotos">
                                <p class="tx-carrosel">Saiba mais sobre os danos causados pelos gafanhotos nas
                                    plantações e como evitá-los!</p>
                            </a>
                            <a href="{% url 'agro:lagartas' %}" class="card-carrosel">
                                <img src="{% static 'img/image4.png' %}" alt="Lagartas">
                                <p class="tx-carrosel">Você conhece os impactos que as lagartas podem causar nas
                                    plantações? Confira já!</p>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex itens-carrosel">
                            <a href="{% url 'agro:gafanhotos' %}" class="card-carrosel">
                                <img src="{% static 'img/image6.png' %}" alt="Gafanhotos">
                                <p class="tx-carrosel">Saiba mais sobre os danos causados pelos gafanhotos nas
                                    plantações e como evitá-los!</p>
                            </a>
                            <a href="{% url 'agro:lagartas' %}" class="card-carrosel">
                                <img src="{% static 'img/image4.png' %}" alt="Lagartas">
                                <p class="tx-carrosel">Você conhece os impactos que as lagartas podem causar nas
                                    plantações? Confira já!</p>
                            </a>
                            <a href="{% url 'agro:agrotoxico' %}" class="card-carrosel">
                                <img src="{% static 'img/image5.png' %}" alt="Agrotóxicos">
                                <p class="tx-carrosel">Conheça as vantagens e desvantagens do uso de agrotóxicos nas
                                    plantações!</p>
                            </a>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <section class="d-flex justify-content-center align-items-center mb-5">
            <div class="d-flex justify-content-around align-items-center w-100">
                <div style="margin-right: 15px;">
                    <img src="{% static 'img/image7.png' %}" alt="Cuidados com plantações">
                </div>
                <div style="margin-left: 15px;" class="text">
                    <h1 style="text-align: start;">Dicas de cuidados com as plantações</h1>
                    <p style="text-align: start; margin-bottom: 100px;">Pragas podem se tornar um grande problema para a
                        produção agrícola. Conheça nossas dicas e
                        mantenha suas plantações sempre seguras.</p>
                </div>
            </div>
        </section>

        <section class="d-flex justify-content-center align-items-center mb-5">
            <div class="d-flex justify-content-around align-items-center w-100">
                <div style="margin-right: 15px;">
                    <img src="{% static 'img/image8.png' %}" alt="Para que servem os agrotóxicos?">
                </div>
                <div style="margin-left: 15px;" class="text">
                    <h1 style="text-align: start;">Para que servem os agrotóxicos?</h1>
                    <p style="text-align: start; margin-bottom: 100px;">Os agrotóxicos são compostos químicos, físicos ou biológicos amplamente empregados no setor agropecuário, especialmente em monoculturas. 
                        A Anvisa classifica os agrotóxicos em quatro classes de danos à saúde humana: pouco tóxicos, medianamente tóxicos, altamente tóxicos e extremamente tóxicos. Nos rótulos desses produtos, além das cores que representam cada classe, são indicadas também as doses de letalidade de cada uma.</p>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-top">
            <div class="d-flex justify-content-around">
                <div class="footer-logo text-center">
                    <h1>PragaZero</h1>
                    <div class="social-media">
                        <a href="#"><img src="{% static 'img/tiktok.png' %}" alt="tiktok"></a>
                        <a href="#"><img src="{% static 'img/twitter.png' %}" alt="twitter"></a>
                        <a href="#"><img src="{% static 'img/facebook.png' %}" alt="facebook"></a>
                        <a href="#"><img src="{% static 'img/instagram.png' %}" alt="instagram"></a>
                    </div>
                </div>
                <div class="footer-links d-flex">
                    <div class="footer-link-group">
                        <h2>Sobre nós</h2>
                        <a href="{% url 'agro:sobre_nos' %}">Quem somos?</a>
                    </div>
                    <div class="footer-link-group">
                        <h2>Sugestões?</h2>
                        <a href="{% url 'agro:formulario' %}">Clique aqui</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <p>© PragaZero 2024. Todos os direitos reservados.</p>
        </div>
    </footer>
    
</body>

</html>
