{% extends 'base.html' %}
{% load static %}

{% block title %}Lagartas{% endblock %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <div class="conteudo mx-5">
        <h1 class="my-5">
            Lagartas na agricultura: o impacto que as larvas podem ter
        </h1>
        <img src="{% static 'img/image16.png' %}" alt="Imagem de lagartas">
        <p class="mb-5">
            As lagartas são a fase larval de várias espécies de insetos, incluindo algumas mariposas e borboletas.
            Elas podem causar um impacto significativo nas plantações agrícolas, tornando-se pragas importantes para
            os agricultores. A seguir, destacarei os principais aspectos do impacto das lagartas nas culturas
            agrícolas: <br> <br>

            <strong>1. Danos às folhas e frutos:</strong> Lagartas se alimentam de folhas, flores, frutos e outras
            partes
            das plantas, causando danos diretos. Se o ataque for grave o suficiente, pode levar à desfolhação
            completa das plantas, o que prejudica a capacidade das culturas de realizar a fotossíntese e produzir
            frutos. <br> <br>

            <strong>2. Redução da produtividade:</strong> A perda de folhas e frutos afeta diretamente a produção das
            culturas. Em
            muitos casos, a redução na quantidade e qualidade dos produtos agrícolas pode resultar em perdas
            econômicas significativas para os agricultores. <br> <br>

            <strong>3. Transmissão de doenças:</strong> Algumas lagartas atuam como vetores de doenças que podem ser
            transmitidas às
            plantas durante o processo de alimentação. Isso pode resultar na propagação de patógenos prejudiciais às
            culturas, aumentando ainda mais os danos causados. <br> <br>

            <strong>4. Resistência a pesticidas:</strong> Ao longo do tempo, algumas populações de lagartas têm
            desenvolvido
            resistência a pesticidas comumente usados para o controle de pragas. Isso dificulta o controle desses
            insetos e pode levar a um aumento na utilização de produtos químicos, o que pode ser prejudicial ao meio
            ambiente e à saúde humana. <br> <br>

            <strong>5. Impacto ecológico:</strong> O aumento populacional de certas espécies de lagartas pode afetar
            negativamente o
            ecossistema local. A falta de controle adequado pode levar a desequilíbrios na cadeia alimentar,
            prejudicando predadores naturais desses insetos e resultando em um aumento ainda maior de suas
            populações. <br> <br>

            <strong>6. Desafios para agricultura sustentável:</strong> O controle das lagartas e outras pragas agrícolas
            é um dos
            principais desafios da agricultura sustentável. A abordagem mais equilibrada envolve o uso de técnicas
            de manejo integrado de pragas (MIP), que incluem o uso combinado de pesticidas, controle biológico,
            rotação de culturas e práticas agrícolas que promovam a saúde geral do ecossistema agrícola.
        </p>
    </div>

{% endblock %}
