{% extends 'base.html' %}
{% load static %}

{% block title %}Sobre nós{% endblock %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />

<div class="conteudo-sn mx-5">
    <div class="row mx-3">
        <!-- Coluna da esquerda com vantagens -->
        <div class="col-md-6">
            <h2 class="mb-4 mt-5">Sobre o site</h2>
            <p style="text-align: left;">
                O site PragaZero foi desenvolvido como parte de um projeto integrador e posteriormente um projeto de conclusão de curso
                de informática do IFRN - Campus Pau dos Ferros. O objetivo é facilitar o acesso de pequenos e médios agricultores a informações sobre pragas agrícolas e métodos de controle, 
                promovendo a conscientização sobre o controle biológico. Buscamos fornecer informações precisas e relevantes sobre o combate 
                e controle de pragas na agricultura, com o intuito de aumentar a produção e fortalecer a agricultura familiar.
            </p>
        </div>

        <div class="col-md-4"></div>

        <div class="col-md-2">
            <img class="my-3" src="{% static 'img/image13.png' %}" alt="Imagem 13">
            <img class="my-3" src="{% static 'img/image11.png' %}" alt="Imagem 11">
            <img class="my-3" src="{% static 'img/image12.png' %}" alt="Imagem 12">
        </div>
    </div>

    <div class="row mx-5 pb-5">
        <!-- Coluna da esquerda com imagens das criadoras -->
        <div class="col-md-4">
            <img class="img-sn my-3" src="{% static 'img/maristella.jpeg' %}" alt="Maria Stella Teodoro">
            <img class="img-sn my-3" src="{% static 'img/evellyn.jpeg' %}" alt="Evellyn Thauany Alves de Lima">
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-6">
            <h2 class="mb-4 mt-5" style="text-align: right;">Sobre as criadoras</h2>
            <p style="text-align: right;">
                Maria Stella Teodoro e Evellyn Thauany Alves de Lima são estudantes de informática do IFRN - Campus Pau dos Ferros. Ambas têm 18 anos e são potiguares.
            </p>
        </div>
    </div>
</div>
{% endblock %}
