* {
    margin: 0;
    padding: 0; /* Adiciona padding 0 para evitar espaços inesperados */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */
}

header {
    background-color: #3C5E4B;
    height: 108px;
}

main {
    background: #C8C8C8;
}

footer {
    background-color: #3C5E4B;
    height: 250px;
}

footer h1 {
    font-family: Merriweather, serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    color: #FFFFFF;
}

footer h2 {
    font-family: Pridi, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    color: #FFFFFF;
}

footer a {
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #C5C5C5;
}

.flex {
    display: flex;
    align-items: center;
}

.around {
    justify-content: space-around;
}

.center {
    justify-content: center;
}

.pragazero {
    font-family: Merriweather, serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 31px;
    margin-left: 10px;
}

.link-nav {
    text-decoration: none;
    color: #E1E1E1;
}

.nav-item {
    margin-right: 15px;
}

section {
    height: 400px;
    background: #3C5E4B;
    box-shadow: 0px 7px 17px 11px rgba(0, 0, 0, 0.4);
}

section h1 {
    font-family: Raleway, sans-serif;
    font-size: 33px;
    font-weight: 400;
    line-height: 36px;
    color: #C2C2C2;
}

section p {
    margin-top: 15px;
    font-family: Raleway, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 19px;
    color: #C2C2C2;
}

.text {
    width: 500px;
}

.carrosel {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tx-carrosel {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #333333;
    margin-top: 15px;
}

.h3-carrosel {
    align-self: flex-start;
    max-width: 500px;
    margin-left: 40px;
    padding-top: 30px;
}

.card-carrosel {
    width: 245px;
    margin: 50px;
}

a {
    text-decoration: none;
}

.allcarrosel {
    width: 92%;
    display: flex;
    justify-content: center;
}

.itens-carrosel {
    display: flex;
    justify-content: center;
}

.texto-agro {
    font-family: Raleway, sans-serif;
    font-size: 19px;
    font-weight: 600;
    line-height: 22px;
}

.title-agro {
    font-family: Merriweather, serif;
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    line-height: 40px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.conteudo h1 {
    font-family: Merriweather, serif;
    font-size: 43px;
    font-style: italic;
    font-weight: 400;
    line-height: 60px;
    color: #333333;
}

.conteudo p {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #333333;
}

.conteudo h2 {
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 600;
    line-height: 47px;
    color: #2A463C;
}

.conteudo h3 {
    font-family: Raleway, sans-serif;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    color: #2A463C;
}

.conteudo-sn h2 {
    font-family: Poppins, sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    color: #333333;
}

.conteudo-sn p {
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

.img-sn {
    width: 150px;
    height: 170px;
}


form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

label {
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #333;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    background-color: #6c63ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #5a54cc;
}

div {
    margin-bottom: 10px;
}