* {
    margin: 0;
    padding: 0; /* Adiciona padding 0 para evitar espaços inesperados */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */
}

header {
    background-color: #3C5E4B;
    height: 108px;
}

main {
    background: #C8C8C8;
}

:root {
    --primary-color: #007bff; 
    --secondary-color: #C8C8C8; 
    --background-color: #3C5E4B;
    --hover-color: #0056b3; 
    --text-color: #C8C8C8; 
}

.footer {
    background-color: var(--background-color); /* Cor de fundo do footer */
    padding: 2rem 5%; /* Espaçamento interno */
}

.footer-top {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--secondary-color); /* Linha divisória entre seções */
}

.footer-logo h1 {
    margin-bottom: 1rem;
    color: #C8C8C8; /* Cor preta para o nome "PragaZero" */
}

.footer-logo .social-media {
    margin-top: 1rem;
}

.footer-logo .social-media a {
    margin: 0 0.5rem;
}

.footer-logo .social-media img {
    width: 24px; /* Ajuste o tamanho dos ícones sociais */
    transition: transform 0.3s ease; /* Transição suave para efeito de hover */
}

.footer-logo .social-media a:hover img {
    transform: scale(1.1); /* Aumenta o ícone ao passar o mouse */
}

.footer-links {
    margin-top: 1rem;
}

.footer-link-group {
    margin: 0 1rem;
}

.footer-link-group h2 {
    margin-bottom: 0.5rem;
    color: #C8C8C8; /* Cor preta para os títulos dos links */
}

.footer-link-group a {
    color: var(--secondary-color); /* Cor dos links */
    text-decoration: none;
    transition: color 0.3s ease; /* Transição suave para a cor do link */
}

.footer-link-group a:hover {
    color: var(--primary-color); /* Cor do link ao passar o mouse */
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.footer-bottom {
    padding-top: 1rem;
    border-top: 1px solid var(--secondary-color); /* Linha divisória superior */
    color: var(--text-color); /* Cor do texto */
}


.flex {
    display: flex;
    align-items: center;
}

.around {
    justify-content: space-around;
}

.center {
    justify-content: center;
}

.link-nav {
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove sublinhado dos links */
}

.link-nav img {
    width: 60px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 10px; /* Espaço entre a imagem e o texto */
}

.link-nav h2.pragazero {
    font-family: Merriweather, serif;
    font-size: 25px; /* Tamanho do texto, ajuste se necessário */
    font-weight: 400;
    line-height: 31px;
    color: #ffffff; /* Ajuste a cor conforme o fundo */
    margin: 0; /* Remove margens padrão */
}

.nav-item {
    margin-right: 15px;
    color: #f8f8f8;
}

section {
    height: 400px;
    background: #3C5E4B;
    box-shadow: 0px 7px 17px 11px rgba(0, 0, 0, 0.4);
}

section h1 {
    font-family: Raleway, sans-serif;
    font-size: 33px;
    font-weight: 400;
    line-height: 36px;
    color: #C2C2C2;
}

section p {
    margin-top: 15px;
    font-family: Raleway, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 19px;
    color: #C2C2C2;
}

.text {
    width: 500px;
}

.carrosel {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tx-carrosel {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #333333;
    margin-top: 15px;
}

.h3-carrosel {
    align-self: flex-start;
    max-width: 500px;
    margin-left: 40px;
    padding-top: 30px;
}

.card-carrosel {
    width: 245px;
    margin: 50px;
}

a {
    text-decoration: none;
}

.allcarrosel {
    width: 92%;
    display: flex;
    justify-content: center;
}

.itens-carrosel {
    display: flex;
    justify-content: center;
}

.texto-agro {
    font-family: Raleway, sans-serif;
    font-size: 19px;
    font-weight: 600;
    line-height: 22px;
}

.title-agro {
    font-family: Merriweather, serif;
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    line-height: 40px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.conteudo h1 {
    font-family: Merriweather, serif;
    font-size: 43px;
    font-style: italic;
    font-weight: 400;
    line-height: 60px;
    color: #333333;
}

.conteudo p {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #333333;
}

.conteudo h2 {
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 600;
    line-height: 47px;
    color: #2A463C;
}

.conteudo h3 {
    font-family: Raleway, sans-serif;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    color: #2A463C;
}

.conteudo-sn h2 {
    font-family: Poppins, sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    color: #333333;
}

.conteudo-sn p {
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

.img-sn {
    width: 150px;
    height: 170px;
}

/* Container principal */
.container.formulario {
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 8px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

/* Cabeçalhos */
h3, h4 {
    text-align: left;
    color: #333333;
    margin-left: 20px;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

/* Grupo de formulários */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    color: #3C5E4B;
    font-size: 0.875rem;
    margin-bottom: 5px;
    display: block;
    margin-left: 10px;
}

.form-control {
    width: calc(100% - 20px);
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #e0e0e0;
}

textarea.form-control {
    height: 100px;
    resize: none;
}

.form-control:focus {
    border-color: #3C5E4B;
    box-shadow: none;
    outline: none;
}

/* Botões customizados */
.btn-custom {
    background-color: #4e5d50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-top: 20px;
}

.btn-custom:hover {
    background-color: #3c4e3b;
}



.search-bar-form input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px;
    margin: 0;
    font-size: 0.9rem;
    background-color: #ffffff;
    flex: 1;
}

.search-bar-form button {
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 0.9rem;
    background-color: #4e5d50;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.search-bar-form button:hover {
    background-color: #3c4e3b;
}

/* Estilos para o container principal */
.container-fluid {
    background-color: #3C5E4B; /* Cor verde */
    overflow-y: auto;
}

/* Estilos para os cards */
.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

/* Títulos e textos */
h1, h2 {
    color: #ffffff; /* Títulos em branco */
}

p, span {
    color: #ffffff; /* Texto em branco */
}

/* Botões de ações */
.links .br-button {
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    margin-left: 10px;
}

.links .edit-button {
    background-color: #4e5d50; /* Verde */
}

.links .delete-button {
    background-color: #dc3545; /* Vermelho */
}

.links .br-button.circle:hover {
    opacity: 0.9;
    transform: scale(1.05);
}


.modal-content {
    border-radius: 10px;
}

.modal-header, .modal-footer {
    border: none;
}

.div-system-access {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

/* Título */
.div-system-access h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

/* Labels dos campos */
.br-input label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

/* Inputs */
.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f8f8f8;
}


/* Estilo do botão Enviar */
.br-button {
    width: 100%;
    padding: 12px;
    background-color:  #3C5E4B;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
}

.br-button:hover {
    background-color: #45a049;
}

/* Links de primeiro acesso */
.first-access-href a {
    color:  #3C5E4B;;
    font-size: 0.9rem;
    text-decoration: none;
}

.first-access-href a:hover {
    text-decoration: underline;
}

/* Estilo de ícones dentro dos inputs */
.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}



/* Layout responsivo */
@media (max-width: 768px) {
    .div-system-access {
        padding: 20px;
        width: 100%;
    }

    .br-button {
        padding: 10px;
        font-size: 0.9rem;
    }
}