{% extends "base.html" %}

{% block content %}

<h1>Visualizar Praga</h1>

<section class="container-fluid p-2x">
    <p class="text-weight-bold">Dados da praga:</p>

    <div class="row align-items-center mb-2">
        <div class="col-md-2 col-sm-12 text-weight-bold">Nome:</div>
        <div class="col-md-10 col-sm-12">{{ object.nome }}</div>
    </div>
    <div class="row align-items-center mb-2">
        <div class="col-md-2 col-sm-12 text-weight-bold">Descrição:</div>
        <div class="col-md-10 col-sm-12">{{ object.descricao }}</div>
    </div>
    <div class="row align-items-center mb-2">
        <div class="col-md-2 col-sm-12 text-weight-bold">Imagem:</div>
        <div class="col-md-10 col-sm-12">
            {% if object.imagem %}
                <img src="{{ object.imagem.url }}" alt="{{ object.nome }}" class="img-fluid" />
            {% else %}
                <p>Nenhuma imagem disponível.</p>
            {% endif %}
        </div>
    </div>
    <div class="row align-items-center mb-2">
        <div class="col-md-2 col-sm-12 text-weight-bold">Localização:</div>
        <div class="col-md-10 col-sm-12">{{ object.localizacao }}</div>
    </div>
    <div class="row align-items-center mb-2">
        <div class="col-md-2 col-sm-12 text-weight-bold">Valor:</div>
        <div class="col-md-10 col-sm-12">{{ object.valor }}</div>
    </div>
</section>

<section class="container-fluid pt-2x">
    <div class="row justify-content-between">
        <div class="col-lg-1 col-md-1 col-12">
            <a class="br-button block" href="{% url 'agro:agro-list' %}" type="button">
                <i class="fas fa-chevron-left mr-1" aria-hidden="true"></i>
                Voltar
            </a>
        </div>

        <div class="col-lg-5 col-md-5 col-12 mt-3 mt-md-0">
            <a
                style="text-decoration: none"
                href="{% url 'agro:agro-update' object.pk %}"
                class="br-button primary block mt-3 mt-sm-0 p-0"
                type="button"
            >
                <i class="fas fa-edit mr-1" aria-hidden="true"></i>
                Editar
            </a>
        </div>
    </div>
</section>

{% endblock %}
