{% extends "base.html" %}
{% load static %}
{% block main %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />

<h1>Lista de Pragas</h1>

<table class="table table-striped">
    <thead>
      
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Imagem</th>
        </tr>
    </thead>
    <tbody>
        {% for praga in pragas %}


          <tr>
            <td>{{ praga.nome }}</td>
            <td>{{ praga.descricao }}</td>
            <td><img src="{{ praga.imagem.url }}" alt="{{ praga.nome }}" width="100"></td>
          </tr>
        </a>
        {% empty %}
        <tr>
            <td colspan="3">Nenhuma praga cadastrada.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
